.webScheduler {
  width: 350px;
  height: 400px;
  position: relative;

  background-color: #d2b5ff;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .powerBtn {
    width: 100px;
    height: 20px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba($color: #a66cff, $alpha: 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box;
    padding: 0px;

    &:hover {
      background-color: rgba($color: #a66cff, $alpha: 1);
    }
  }

  header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 5px;

    .menu {
      cursor: pointer;
      color: white;
    }
  }

  .mainInputArea {
    width: 100%;
    position: relative;

    .mainInput {
      width: 100%;
      height: 45px;
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      background-color: #e0cbff;
      padding: 0px 10px;
      font-size: 14px;

      &:focus {
        outline: 2px solid white;
      }
    }

    .calendar {
      position: absolute;
      right: 10px;
      top: 14px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  .todoListArea {
    width: 100%;
    height: 320px;
    background-color: #e0cbff;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: #a66cff;
    }

    .dateSeparator {
      font-size: 14px;
      color: #343a40;
      font-family: "Noto Sans KR", "Karla", sans-serif;
      font-weight: 600;
      margin-top: 17px;
      padding-left: 7px;
    }
  }

  .undoBtn {
    position: absolute;
    right: 15px;
    bottom: 15px;

    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: undoBtnCreate 0.5s ease-in-out;
    font-size: 14px;
    color: #343a40;
    font-family: "Noto Sans KR", "Karla", sans-serif;
    font-weight: 600;
    background-color: white;

    .undoIcon {
      transition: all 0.3s ease-in-out;
      font-size: 16px;
    }

    &:hover {
      .undoIcon {
        transform: rotate(-30deg);
        color: #ff1e00;
      }
    }
  }

  .calendarArea {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }
}

@keyframes undoBtnCreate {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
